@use "../styles/theme.scss";

:local(.home-page) {
  flex: 1;
  background-size: cover;
  padding: 0;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
  background-color: #d0e7d7;
  text-decoration: none;
  list-style: none;

  a {
    border: none;
    color: #000000;
  }

  @media (min-width: theme.$breakpoint-lg) {
    align-items: center;
    justify-content: flex-start;
  }

  & > section {
    margin: 2em auto;
  }
}

:local(.logo-container) {
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 150px;
  
  img {
    width: 100%;
    align-self: flex-start;
  }

  @media (min-width: theme.$breakpoint-lg) {
    display: none;
  }
}

:local(.sign-in-container) {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  @media(min-width: theme.$breakpoint-lg) {
    display: none;
  }
}

:local(.mobile-sign-out) {
  padding: 0.5rem;
}

:local(.hero) {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  @media (min-width: theme.$breakpoint-lg) {
    flex-direction: row;
  }
}

:local(.hero-image-container) {

  img {
    @media (min-width: theme.$breakpoint-lg) {
      border-radius: 16px;
    }
  }
}

:local(.app-info) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  & > * {
    margin-bottom: 20px;
  }
  
  @media (min-width: theme.$breakpoint-lg) {
    margin-bottom: 0;
    margin-left: 16px;
    justify-content: flex-start;
    align-items: flex-start;

    & > :last-child {
      margin-bottom: 0;
    }
  }
}

:local(.app-description) {
  white-space: pre-wrap;
  align-self: auto;
  font-size: theme.$font-size-lg;
  font-weight: theme.$font-weight-medium;
  text-align: center;
  margin: 0 24px 20px 24px;
  line-height: 1.25;

  @media (min-width: theme.$breakpoint-lg) {
    text-align: left;
    margin: 0 16px 48px 0px;
    max-width: 860px;
    font-size: theme.$font-size-2xl;
  }
}

:local(.center-logo) {
  align-self: auto;
  margin: 24px 0;
}

:local(.cta-buttons) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

:local(.features) {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  
  & > * {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }

    @media(min-width: theme.$breakpoint-lg) {
      margin-right: 24px;
      margin-bottom: 0;
      flex-direction: row;
      max-width: 364px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
  
  img {
    width: 100%;
    border-radius: 12px;
  }
}

:local(.rooms-container) {
  margin-top: 120px !important;
  display: flex;
  flex-direction: column;
}

:local(.rooms-heading) {
  margin-left: 40px;
  font-size: 24px;
  margin-bottom: 16px;
}
 
:local(.rooms) {
  background-color: theme.$background2-color;
  border-radius: 16px;
}

:local(.row) {
  display: flex;
  justify-content: space-evenly !important;
}

:local(.col-lg) {
  flex-direction: column;

  @media(min-width: theme.$breakpoint-lg) {
    flex-direction: row;
  }
}

:local(.home-page) :local(.card) {
  background-color: theme.$background2-color;
  border-radius: 16px;
  font-weight: theme.$font-weight-medium;
  padding-bottom: 32px !important;
  flex: 1;
}

:local(.center-lg) {
  @media(max-width: theme.$breakpoint-lg) {
    text-align: center;
    align-items: center;
  }
}

:root {
  --mainGreen: #d0e7d7;
  --accentGreen: #069472;
  --accentOrange: #ee7342;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

img {
  width: 100%;
}

:local(.App) {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5% 0;
  background-color: var(--mainGreen);
  header {
    display: flex;
    justify-content: space-between;
    position: relative;
    .Logo {
      img {
        width: 150px;
      }
    }

    .Account {
      display: flex;
      flex-direction: column;
      ul {
        display: flex;
        justify-content: space-between;
        gap: 0 25px;
        position: relative;
        z-index: 1;
        li {
          height: 100%;
          aspect-ratio: 1/1;
          background-color: #ffffff;
          display: flex;
          flex-direction: column;
          justify-content: center;
          border-radius: 50%;
          padding: 8px;
          border: 2px solid var(--mainGreen);
          img {
            width: 20px;
            margin: 0 auto;
          }
          &.orange {
            background-color: var(--accentOrange);
          }
        }
        ::after {
          width: 115%;
          height: 35px;
          position: absolute;
          top: 50%;
          left: -5%;
          content: '';
          z-index: -1;
          background-color: var(--accentGreen);
          border-radius: 5px;
          background-image: radial-gradient(#8b8b8b 10%, transparent 30%);
          background-size: 5px 5px;
        }
        ::before {
          width: 115%;
          height: 35px;
          position: absolute;
          top: calc(50% + 5px);
          left: calc(-5% + 5px);
          content: '';
          z-index: -2;
          background-color: #ffffff;
          border: 2px solid var(--accentGreen);
          box-sizing: border-box;
          border-radius: 5px;
        }
      }
      .accountMenu {
        position: absolute;
        z-index: 100;
        width: 100%;
        top: 120%;
        min-height: 100px;
        left: 0;
        background-color: var(--accentGreen);
        border-radius: 5px;
        background-image: radial-gradient(#8b8b8b 10%, transparent 30%);
        background-size: 5px 5px;
        padding: 10px 15px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px 0;
        .accountMenuCloseButton {
          background-color: var(--accentOrange);
          color: #ffffff;
          padding: 10px 15px;
          border: none;
          border-radius: 5px;
          width: 80px;
          height: 40px;
          margin-left: calc(50% - 40px);
        }

        .profile {
          background-color: #ffffff;
          border-radius: 5px;
          padding: 10px 15px;
          text-align: center;
        }
      }
    }

    
    :local(.signInButton) {
      color: #ffffff;
      background-color: var(--accentOrange);
    }

    .Discord {
      background-color: #ffffff;
      display: flex;
      justify-content: space-around;
      border-radius: 10px 0 0 10px;
      padding: 12px 24px;
      gap: 0 15px;
      p {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      img {
        width: 40px;
        height: 40px;
        margin: auto 0;
      }
    }
  }

  .content {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    gap: 0 40px;
    max-width: 2000px;
    margin: 0 auto;
    .title {
      color: var(--accentOrange);
      font-size: 30px;
      text-align: center;
    }
    .Enter {
      .enterBox {
        height: 90%;
        max-height: 800px;
        color: #ffffff;
        background-color: var(--accentGreen);
        padding: 12px;
        border-radius: 5px;
        background-image: radial-gradient(#8b8b8b 10%, transparent 30%);
        background-size: 5px 5px;
        margin-top: 20px;
        img {
          width: 100%;
          max-width: 400px;
          margin: 0 auto;
          display: block;
        }
        .entryButton {
          background-color: var(--accentGreen);
          border: 2px solid #ffffff;
          box-sizing: border-box;
          border-radius: 5px;
          width: 200px;
          padding: 10px 0;
          text-align: center;
          position: relative;
          z-index: 20;
          margin: -25px auto 50px auto;
          ::before {
            width: 100%;
            height: 100%;
            content: '';
            position: absolute;
            top: -2px;
            left: -2px;
            z-index: -10;
            border-radius: 5px;
            background-color: var(--accentOrange);
          }
        }
        p {
          max-width: 300px;
        }
      }
    }

    .Scroll {
      .dummy {
        content: '';
        background-color: #ffffff;
        width: 400px;
        height: 100000000px;
      }
    }

    .IndexAndNews {
      width: 400px;
      .Index {
        font-size: 25px;
        margin-bottom: 20px;
        color: #8b8b8b;
        .accent {
          color: var(--accentOrange);
        }
      }

      .News {
        .articleContainer {
          display: flex;
          flex-direction: column;
          margin: 15px 0;
          .article {
            background-color: #ffffff;
            position: relative;
            border-radius: 5px;
            padding: 15px 10px;
            display: flex;
            flex-direction: column;
            margin: 15px 0;
            .articleTitle {
              color: var(--accentGreen);
              font-weight: lighter;
            }
            .articleContent {
              display: flex;
              gap: 0 10px;
              margin: 10px 0;
              img {
                width: 100px;
              }
              p {
                display: flex;
                flex-direction: column;
                justify-content: center;
              }
            }
            .articleDetail {
              position: absolute;
              bottom: -10%;
              right: 10px;
              width: 150px;
              padding: 5px;
              text-align: center;
              border-radius: 15px;
              color: #ffffff;
              background-color: var(--accentOrange);
            }
          }
        }

        .paging {
          display: flex;
          justify-content: center;
          gap: 0 10px;
          span {
            content: '';
            background-color: #ffffff;
            border-radius: 50%;
            width: 10px;
            height: 10px;
            border: 2px solid var(--accentGreen);

            &.accent {
              background-color: var(--accentGreen);
            }
          }
        }
      }
    }
  }
}

